################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WebApplication1/obj
/WebApplication1/.vs/WebApplication1/v16
